.register-container{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: column;
    margin: 2rem auto;
    color:black;
    background-color: rgb(248, 248, 248);
    padding: 5rem;
}
.form-group{
    display: flex;
    width: 100%;
}
.register-form-inp{
    padding: 1rem;
    margin-right: 1rem;
}
.form-button{
    width: 49%;
    margin: 1rem auto;
    padding: 0.7rem;
}